/* screen - 0-3-login-2-confirmacion-visual */

.x0-3-login-2-confirmacion-visual {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 640px;
  overflow: hidden;
  width: 360px;
}

.x0-3-login-2-confirmacion-visual .overlap-group1 {
  height: 549px;
  margin-left: -285px;
  margin-top: -323px;
  position: relative;
  width: 560px;
}

.x0-3-login-2-confirmacion-visual .ellipse-188 {
  background-color: var(--blue-ribbon-2);
  border-radius: 205.24px;
  height: 410px;
  left: 144px;
  position: absolute;
  top: 0;
  width: 410px;
}

.x0-3-login-2-confirmacion-visual .ellipse-190 {
  background-color: var(--cardinal-pink);
  border-radius: 205.24px;
  height: 410px;
  left: 0;
  position: absolute;
  top: 118px;
  width: 410px;
}

.x0-3-login-2-confirmacion-visual .inicio-de-sesin-exitoso {
  color: var(--black);
  font-family: var(--font-family-calibri-regular);
  font-size: 18.5px;
  font-weight: 400;
  left: 384px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 522px;
  width: 176px;
}

.x0-3-login-2-confirmacion-visual .yolima-mosquera {
  align-self: center;
  color: var(--eerie-black);
  font-family: var(--font-family-calibri-bold);
  font-size: 24.8px;
  font-weight: 700;
  letter-spacing: 0.12px;
  line-height: normal;
  margin-left: 13.0px;
  margin-top: 4px;
  min-height: 30px;
  min-width: 133px;
  text-align: center;
}

.x0-3-login-2-confirmacion-visual .overlap-group2 {
  align-self: flex-end;
  height: 703px;
  margin-right: -319.48px;
  margin-top: 16px;
  position: relative;
  width: 587px;
}

.x0-3-login-2-confirmacion-visual .ellipse-container {
  height: 623px;
  left: 0;
  position: absolute;
  top: 80px;
  width: 587px;
}

.x0-3-login-2-confirmacion-visual .ellipse-189 {
  background-color: var(--casal);
  border-radius: 205.24px;
  height: 410px;
  left: 0;
  position: absolute;
  top: 213px;
  width: 410px;
}

.x0-3-login-2-confirmacion-visual .ellipse-187 {
  background-color: var(--fuel-yellow);
  border-radius: 205.24px;
  height: 410px;
  left: 177px;
  position: absolute;
  top: 0;
  width: 410px;
}

.x0-3-login-2-confirmacion-visual .mesa-de-trabajo-12x-1 {
  height: 166px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 145px;
}

.x0-3-login-2-confirmacion-visual .button-primary {
  align-items: flex-start;
  background-color: var(--blue-2);
  border-radius: 12.61px;
  display: flex;
  height: 48px;
  left: 48px;
  overflow: hidden;
  padding: 12.9px 26.9px;
  position: absolute;
  top: 188px;
  width: 95px;
}

.x0-3-login-2-confirmacion-visual .button {
  letter-spacing: 0;
  line-height: normal;
  min-height: 20px;
}
